<tr>
    <td>
        <select id="ProductID" name="ProductID[]" class="form-control">
            @foreach (var Product in (List<SelectListItem>)ViewBag.Products)
            {
                if (0 == Int32.Parse(Product.Value))
                {
                    <option selected value="@Product.Value">@Product.Text</option>
                }
                else
                {
                    <option value="@Product.Value">@Product.Text</option>
                }

            }
        </select>
    </td>
    <td><input type="number" value="0" class="form-control" id="UnitPrice" name="UnitPrice[]"></td>
    <td><input type="number" value="0" class="form-control" id="Qty" name="Qty[]"></td>
</tr>
